@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Book App</h1>
    <p>
        <a class="btn btn-primary" href="/Books">Edit or Delete a Book</a>
    </p>
</div>
